.main {
  display: flex;
  align-items: center;
  backdrop-filter: blur(14px);
  box-shadow: inset 0 -108px 100px var(--common-main-color-1);
  flex: 0 0 100%;
}
.main__container {
  flex: 0 0 100%;
}
.main__auth-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__brand-container {
  flex: 0 0 400px;
}
.main__form-auth-container {
  flex: 0 0 400px;
}
.main__form-auth {
  box-sizing: border-box;
  background-color: var(--main-admin-auth-form-background-color);
  border: 1px solid var(--main-admin-auth-form-border-color);
  padding: 30px 40px;
  margin-bottom: 20px;
}
.main__form-title {
  font-size: 24px;
  color: var(--main-admin-auth-form-title-font-color);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 20px;
}
.form-auth__inputs-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form-auth__input {
  box-sizing: border-box;
  outline: 0;
}
.form-auth__input_text,
.form-auth__input_password,
.form-auth__input.form-auth__input_access-code {
  font-size: 16px;
  padding: 10px;
  transition: background-color .2s, border-color .2s, color .2s;
}
.form-auth__input_text {
  background-color: var(--main-admin-auth-form-input-text-background-color);
  border: 1px solid var(--main-admin-auth-form-input-text-border-color);
  margin-bottom: 10px;
  width: 100%;
}
.form-auth__input_text:hover {
  background-color: var(--main-admin-auth-form-input-text-background-color--hover);
  border: 1px solid var(--main-admin-auth-form-input-text-border-color--hover);
}
.form-auth__input_text:focus {
  background-color: var(--main-admin-auth-form-input-text-background-color--focus);
  border: 1px solid var(--main-admin-auth-form-input-text-border-color--focus);
}
.form-auth__input_text:active {
  background-color: var(--main-admin-auth-form-input-text-background-color--active);
  border: 1px solid var(--main-admin-auth-form-input-text-border-color--active);
}
.form-auth__input_password {
  background-color: var(--main-admin-auth-form-input-password-background-color);
  border: 1px solid var(--main-admin-auth-form-input-password-border-color);
  margin-bottom: 10px;
  width: 100%;
}
.form-auth__input_password:hover {
  background-color: var(--main-admin-auth-form-input-password-background-color--hover);
  border: 1px solid var(--main-admin-auth-form-input-password-border-color--hover);
}
.form-auth__input_password:focus {
  background-color: var(--main-admin-auth-form-input-password-background-color--focus);
  border: 1px solid var(--main-admin-auth-form-input-password-border-color--focus);
}
.form-auth__input_password:active {
  background-color: var(--main-admin-auth-form-input-password-background-color--active);
  border: 1px solid var(--main-admin-auth-form-input-password-border-color--active);
}
.form-auth__input.form-auth__input_access-code {
  background-color: var(--main-admin-auth-form-input-access-code-background-color);
  border: 1px solid var(--main-admin-auth-form-input-access-code-border-color);
  max-width: calc(25% - 8px);
}
.form-auth__input.form-auth__input_access-code:hover {
  background-color: var(--main-admin-auth-form-input-access-code-background-color--hover);
  border: 1px solid var(--main-admin-auth-form-input-access-code-border-color--hover);
}
.form-auth__input.form-auth__input_access-code:focus {
  background-color: var(--main-admin-auth-form-input-access-code-background-color--focus);
  border: 1px solid var(--main-admin-auth-form-input-access-code-border-color--focus);
}
.form-auth__input.form-auth__input_access-code:active {
  background-color: var(--main-admin-auth-form-input-access-code-background-color--active);
  border: 1px solid var(--main-admin-auth-form-input-access-code-border-color--active);
}
.form-auth__input.form-auth__input_submit {
  background-color: var(--main-admin-auth-form-input-submit-background-color);
  font-size: 16px;
  font-weight: 700;
  color: var(--main-admin-auth-form-input-submit-font-color);
  text-transform: uppercase;
  border: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color .2s, color .2s;
}
.form-auth__input.form-auth__input_submit:hover {
  background-color: var(--main-admin-auth-form-input-submit-background-color--hover);
  color: var(--main-admin-auth-form-input-submit-font-color--hover);
}
.form-auth__input.form-auth__input_submit:focus {
  background-color: var(--main-admin-auth-form-input-submit-background-color--focus);
  color: var(--main-admin-auth-form-input-submit-font-color--focus);
}
.form-auth__input.form-auth__input_submit:active {
  background-color: var(--main-admin-auth-form-input-submit-background-color--active);
  color: var(--main-admin-auth-form-input-submit-font-color--active);
}
.main__auth-footer {
  font-size: 14px;
  color: var(--main-admin-auth-footer-font-color);
  text-align: center;
}