.page.page_module .module {
  display: flex;
}
.page.page_module .module__left-block {
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
}
.page.page_module .module__right-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 10px;
}
.page.page_module .module__gallary-container {
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
  height: fit-content;
}
.page.page_module .module__metadata-label,
.page.page_module .module__description-label {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.page.page_module .module__metadata-label::after,
.page.page_module .module__description-label::after {
  content: ':';
}
.page.page_module .module__metadata-label {
  color: var(--admin-panel-main-page-module-metadata-block-label-color);
}
.page.page_module .module__description-label {
  color: var(--admin-panel-main-page-module-description-block-label-color);
}
.page.page_module .module__description {
  font-size: 14px;
  color: var(--admin-panel-main-page-module-description-color);
}
.page.page_module .module__description p {
  margin-top: 0;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.page.page_module .module__description > ol,
.page.page_module .module__description > ul {
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}
.page.page_module .module__description > h1,
.page.page_module .module__description > h2,
.page.page_module .module__description > h3,
.page.page_module .module__description > h4,
.page.page_module .module__description > h5,
.page.page_module .module__description > h6 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.page.page_module .module__description > h3,
.page.page_module .module__description > h4,
.page.page_module .module__description > h5,
.page.page_module .module__description > h6 {
  font-size: 14px;
}
.page.page_module .module__metadata-list {
  display: flex;
  flex-direction: column;
}
.page.page_module .module__metadata-item {
  margin-bottom: 10px;
}