.form.form_page-static > .table {
  margin-bottom: 10px;
}
.form.form_page-static .table__cell {
  vertical-align: top;
}
.form.form_page-static .table__cell:last-child {
  width: 400px;
}
.form.form_page-static .cell__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.form.form_page-static input,
.form.form_page-static select,
.form.form_page-static textarea {
  width: 100%;
}
.form.form_page-static input:not(:nth-last-child()),
.form.form_page-static select:not(:nth-last-child()),
.form.form_page-static textarea:not(:nth-last-child()) {
  margin-bottom: 10px;
}
.form.form_page-static textarea {
  resize: vertical;
}
.form.form_page-static .form__input[type="submit"] {
  width: fit-content;
  float: right;
}
.form.form_page-static .interactive__select-imitation {
  width: 100% !important;
}
.form.form_page-static .form__bottom-panel {
  display: flex;
  justify-content: flex-end;
}
.form.form_page-static .form__bottom-panel > * {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.main__page-aside .form-page-static-preview__container-image {
  display: flex;
  border: 1px solid var(--common-main-color-2);
  margin-bottom: 10px;
}
.main__page-aside .form-page-static-preview {
  display: flex;
  justify-content: center;
}