.page.page_templates .templates-list {
  display: flex;
}
.page.page_templates .templates-list__item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--admin-panel-main-page-templates-list-item-border-color);
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 0 0 calc(25% - (10px * 3));
}
.page.page_templates .templates-list__item:nth-child(4n) {
  margin-right: 0;
}
.page.page_templates .templates-list__item:nth-last-child(2),
.page.page_templates .templates-list__item:last-child {
  margin-bottom: 0;
}
.page.page_templates .template__preview {
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--admin-panel-main-page-templates-list-item--preview-background-color);
  padding: 10px;
  height: 180px;
}
.page.page_templates .template__data,
.page.page_templates .template__metadata {
  padding: 10px 20px;
}
.page.page_templates .template__data {
  flex-grow: 1;
}
.page.page_templates .template__title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}
.page.page_templates .template__description {
  font-size: 16px;
  margin-bottom: 10px;
}
.page.page_templates .template__metadata {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-top: 1px solid var(--admin-panel-main-page-templates-list-item-border-color);
}
.page.page_templates .template__download-button,
.page.page_templates .template__delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--admin-panel-main-page-templates-list-item-preview-button-background-color);
  border: 0;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  float: right;
  cursor: pointer;
}
.page.page_templates .template__download-button-icon,
.page.page_templates .template__delete-button-icon {
  fill: var(--admin-panel-main-page-templates-list-item-preview-button-icon-color);
  width: 16px;
  height: 16px;
}