/cron/database.config.php
/repository/
/install/
/modules/*
!/modules/README.md
/OLD/
/core/configuration.php
/templates/*
!/tempaltes/default
!/tempaltes/admin
!/tempaltes/install
!/tempaltes/README.md
/.gitignore