<IfModule mod_rewrite.c>
	RewriteEngine On
	
	Options -Indexes
	
	RewriteBase /
	
	RewriteCond %{SERVER_PORT} 80
	RewriteCond %{HTTP_HOST} ^portfolio.drelagas.ru$
	RewriteRule ^(.*)$ https://portfolio.drelagas.ru/$1 [NC,R=301,L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ ?$1 [QSA,L]
</IfModule>