<IfModule mod_rewrite.c>
	RewriteEngine On
	
	Options -Indexes
	
	RewriteBase /
	
	RewriteCond %{SERVER_PORT} 80 [or]
	RewriteCond %{SERVER_PORT} 443
	RewriteCond %{HTTP_HOST} ^cms-girvas.ru$
	RewriteRule ^(.*)$ https://www.cms-girvas.ru/$1 [NC,R=301,L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ ?$1 [QSA,L]
</IfModule>