:root {
  --common-main-color-1: #FFFFFF;
  --common-main-color-2: #EAEAEA;
  --common-main-color-3: #4C4C4C;
  --common-main-color-4: #232323;
  --common-main-color-5: #000000;
  --common-secondary-color-1: #EEF7FF;
  --common-secondary-color-2: #C4E4FF;
  --common-secondary-color-3: #3784C8;
  --header-topbar-background-color: var(--common-main-color-1);
  --header-topbar-border-color: var(--common-main-color-2);
  --header-topbar-navigation-item-background-color: var(--common-main-color-1);
  --header-topbar-navigation-item-background-color--hover: var(--common-main-color-2);
  --header-topbar-navigation-item-background-color--focus: var(--common-main-color-2);
  --header-topbar-navigation-item-background-color--active: var(--common-main-color-3);
  --header-topbar-navigation-item-font-color: var(--common-main-color-4);
  --header-topbar-navigation-item-font-color--hover: var(--common-main-color-4);
  --header-topbar-navigation-item-font-color--focus: var(--common-main-color-4);
  --header-topbar-navigation-item-font-color--active: var(--common-main-color-2);
  --header-topbar-button-background-color: var(--common-secondary-color-1);
  --header-topbar-button-background-color--hover: var(--common-secondary-color-2);
  --header-topbar-button-background-color--focus: var(--common-secondary-color-2);
  --header-topbar-button-background-color--active: var(--common-secondary-color-3);
  --header-topbar-button-font-color: var(--common-secondary-color-3);
  --header-topbar-button-font-color--hover: var(--common-secondary-color-3);
  --header-topbar-button-font-color--focus: var(--common-secondary-color-3);
  --header-topbar-button-font-color--active: var(--common-secondary-color-1);
  --header-slider-slide-title-font-color: var(--common-main-color-1);
  --header-slider-slide-content-phar-font-color: var(--common-main-color-2);
}