* {
  box-sizing: border-box;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bcg-body-color);
  font-family: 'Roboto';
}

@media (min-width: 670px) and (max-width: 1139px) {
  body {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: var(--container-and-text-white-color);
}

.flex {
  display: flex;
}

.display-block {
  display: block;
}

.title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.plug {
  padding-bottom: 48px;
}

.plug__header {
  position: relative;
  background-color: var(--primary-color-3);
  margin-bottom: 224px;
  height: 200px;
}

.plug__brand-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-3);
  border-radius: 100%;
  padding: 48px;
  width: 248px;
  height: 248px;
  bottom: -124px;
  left: calc(50% - 124px);
}

.plug__brand {
  fill: var(--primary-color-5);
  width: 100%;
}

.plug__body {
  box-sizing: border-box;
  background-color: var(--primary-color-4);
  color: var(--primary-color-5);
  border-left: 6px solid var(--primary-color-5);
  padding: 24px 48px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1140px) {
  .plug__body {
    width: 600px;
  }
}

@media (max-width: 1139px) {
  .plug__body {
    width: 100%;
  }
}


.plug__body .section__title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

@media (min-width: 670px) {
  .plug__body .section__title {
    font-size: 18px;
  }
}

@media (max-width: 669px) {
  .plug__body .section__title {
    font-size: 16px;
  }
}

.plug__body .section__content {
  font-size: 14px;
}

:root {
  --transistion: .2s ease-in-out;
}