.footer__nav-span,
.information-list__link {
    position: relative;
}

.footer__nav-span::after,
.information-list__link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--container-and-text-white-color);
    transform: scaleX(0);
    transition: var(--transistion);
}

/* footer */
.footer {
  height: 182px;
  background-color: var(--bcg-body-color);
}

@media (min-width: 670px) {
  .footer {
    padding-bottom: 60px;
  }
}

.footer-top {
  height: 142px;
}

.footer-top__left {
  display: none;
  width: calc(100% - 300px);
  height: 100%;
  background-color: var(--dark-gray-color);
}

@media (min-width: 670px) {
  .footer-top__left {
    display: block;
    border-radius: 0px 0px 0px 40px;
  }
}

@media (max-width: 779px) {
  .footer__nav {
    display: none;
  }
}

.footer__nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--grey-color);
}

.footer__nav-item {
  display: flex;
}

.footer__nav-item:nth-last-child(2) {
  margin-left: auto;
}

.footer__nav-link {
  height: 100%;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--container-and-text-white-color);
}

.footer__nav-link:focus-visible {
  outline: none;
}

.footer__nav-link:focus {
  transition: var(--transistion);
  background-color: var(--footer-black-color);
}

/* стиль на нижнюю черту прописан в header */
.footer__nav-link:hover .footer__nav-span::after {
  transform: scaleX(1);
}

.footer__nav-link:active {
  transition: var(--transistion);
  background-color: var(--dark-gray-color);
}

.footer__text-block {
  width: 100%;
  max-width: 455px;
  height: 102px;
  padding: 25px;
}

@media (max-width: 779px) {
  .footer__text-block {
    height: 100%;
  }
}

@media (min-width: 780px) {
  .footer__text-block {
    height: 102px;
  }
}

.footer__text {
  font-size: 14px;
  font-weight: 400;
  color: var(--container-and-text-white-color);
}

.footer-top__right {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 100%;
  padding: 29px 83px;
  background-color: var(--footer-black-color);
}

@media (min-width: 670px) {
  .footer-top__right {
    width: 300px;
    border-radius: 0px 0px 40px 0px;
  }
}

@media (max-width: 669px) {
  .footer-top__right {
    width: 100%;
  }
}

.footer-top__logo-link {
  width: fit-content;
}

.footer-top__logo-link picture {
  display: flex;
  flex: 0 0 fit-content;
}

.footer__bottom {
  justify-content: space-between;
  padding: 25px;
}

@media (max-width: 929px) {
  .footer__bottom {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__bottom-information-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

@media (max-width: 669px) {
  .footer__bottom {
    background-color: var(--footer-black-color);
    padding-top: 0;
  }

  .information-list__link {
    color: var(--primary-color-3);
  }
}

.footer__bottom-left-block {
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 669px) {
  .footer__bottom-left-block {
    color: var(--primary-color-3);
  }
}

@media (min-width: 670px) {
  .footer__bottom-left-block {
    color: var(--dark-gray-color);
  }
}

@media (max-width: 929px) {
  .footer__bottom-left-block {
    width: fit-content;
  }

  .footer__bottom-information-list {
    width: fit-content;
  }

  .information-list__item {
    text-align: center;
  }
}

.information-list__item {
  padding: 0 3px;
}

@media (min-width: 930px) {
  .information-list__item:nth-child(2) {
    border-left: 1px solid var(--dark-gray-color);
    border-right: 1px solid var(--dark-gray-color);
  }
}

.information-list__link {
  position: relative;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 670px) {
  .information-list__link {
    color: var(--dark-gray-color);
  }
}

/* стиль на нижнюю черту прописан в header */
.information-list__link:focus-visible::after {
  background-color: var(--footer-black-color);
  transform: scaleX(1);
}

.information-list__link:focus-visible {
  outline: none;
}

.information-list__item:hover .information-list__link::after {
  background-color: var(--footer-black-color);
  transform: scaleX(1);
}