.header__container {
  background: linear-gradient(270deg, #FFF 64.61%, #E0E0E0 100%);
}

@media (min-width: 670px) {
  .header__container {
    border-radius: 40px 40px 0px 0px;
  }
}

.header__logo-block {
  padding: 68px 25px;
  border-radius: inherit;
}

@media (max-width: 669px) {
  .header__logo-block {
    display: flex;
    justify-content: center;
  }

  .header__logo-link img {
    width: 80%;
  }  
}

.header__logo-link {
  display: flex;
}

@media (max-width: 669px) {
  .header__logo-link {
    justify-content: center;
  }
}

.header__nav {
  top: 0;
  position: sticky;
  width: 100%;
  background-color: var(--dark-gray-color);
  z-index: 1;
}

@media (max-width: 669px) {
  .header__nav {
    padding: 10px;
  }
}

.header__nav-burger {
  display: none;
}

@media (max-width: 669px) {
  .header__nav-burger {
    display: flex;
    width: 32px;
    height: 32px;
    fill: var(--primary-color-3);
  }

  .header__nav-list {
    display: none;
    background-color: var(--primary-color-2);
    left: 0;
  }

  .header__nav-burger.is-active + .header__nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .header__nav-burger.is-active + .header__nav-list .header__nav-item {
    margin: 0;
  }
}

@media (min-width: 670px) {
  .header__nav-list {
    display: flex;
  }
}

.header__nav-span {
    position: relative;
}

.header__nav-span::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--container-and-text-white-color);
    transform: scaleX(0);
    transition: var(--transistion);
}

.header__nav-item:nth-child(3) {
  margin-right: auto;
}

.header__nav-link {
  position: relative;
  height: 60px;
  padding: 20px 25px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--container-and-text-white-color);
}

.header__nav-link:focus-visible {
    outline: none;
}

.header__nav-link:focus {
    transition: var(--transistion);
    background-color: var(--grey-color);
}

.header__nav-link:hover .header__nav-span::after {
    transform: scaleX(1);
}

.header__nav-link:active {
    transition: var(--transistion);
    background-color: var(--dark-gray-color);
}