.header .header__bar,
.header .header__bar .navigation__list,
.header .header__bar .navigation__list .item__link .link__container,
.header .header__article > .container {
  display: flex;
}
.header .header__bar {
  justify-content: space-between;
  align-items: center;
}
.header .header__brand {
  width: 300px;
  height: 46px;
}
.header .header__bar .navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header .header__bar .navigation__list .item__link {
  transition: 0.2s;
  display: inline-block;
  text-decoration: none;
  color: #232323;
}
.header .header__bar .navigation__list .item__link:hover {
  background-color: #EAEAEA;
}
.header .header__bar .navigation__list .item__link .link__container {
  height: 100px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  padding: 0 25px;
}
.header .header__article {
  position: relative;
  background: linear-gradient(to right bottom, #FFF, #EAEAEA);
  border-top: 2px solid #EAEAEA;
  border-bottom: 2px solid #EAEAEA;
  height: 600px;
}
.header .header__article > .container {
  background: url('../images/header-actor.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 600px;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media (max-width: 940px) {
  .header .header__article > .container {
    align-items: center;
  }
}
.header .header__article .article__title {
  font-size: 60px;
  color: #232323;
  margin-top: 0;
  margin-bottom: 25px;
  max-width: 600px;
}
.header .header__article .article__description {
  font-size: 20px;
  color: #666;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 600px;
}
@media (max-width: 940px) {
  .header .header__article .article__description {
    text-align: center;
  }
}