.header__topbar {
  background-color: var(--header-topbar-background-color);
  border-top: 3px solid var(--header-topbar-border-color);
  border-bottom: 3px solid var(--header-topbar-border-color);
}
.header__topbar > .container {
  display: flex;
  justify-content: space-between;
}
.header__brand-container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__brand-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
}
.header__navigation {
  margin-left: auto;
}
.header__navigation-list {
  display: flex;
  height: 100%;
}
.header__navigation-list-item .navigation-item__link {
  display: flex;
  align-items: center;
  background-color: var(--header-topbar-navigation-item-background-color);
  font-size: 16px;
  font-weight: 700;
  color: var(--header-topbar-navigation-item-font-color);
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;
  padding: 0 20px;
  height: 100%;
  transition: background-color .2s, color .2s;
  cursor: pointer;
}
.header__navigation-list-item .navigation-item__link:hover {
  background-color: var(--header-topbar-navigation-item-background-color--hover);
  color: var(--header-topbar-navigation-item-font-color--hover);
}
.header__navigation-list-item .navigation-item__link:focus {
  background-color: var(--header-topbar-navigation-item-background-color--focus);
  color: var(--header-topbar-navigation-item-font-color--focus);
}
.header__navigation-list-item .navigation-item__link:active {
  background-color: var(--header-topbar-navigation-item-background-color--active);
  color: var(--header-topbar-navigation-item-font-color--active);
}
.header__button-auth {
  align-items: center;
  background-color: var(--header-topbar-button-background-color);
  font-size: 16px;
  font-weight: 700;
  color: var(--header-topbar-button-font-color);
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  outline: 0;
  padding: 0 20px;
  transition: background-color .2s, color .2s;
  cursor: pointer;
}
.header__button-auth:hover {
  background-color: var(--header-topbar-button-background-color--hover);
  color: var(--header-topbar-button-font-color--hover);
}
.header__button-auth:focus {
  background-color: var(--header-topbar-button-background-color--focus);
  color: var(--header-topbar-button-font-color--focus);
}
.header__button-auth:active {
  background-color: var(--header-topbar-button-background-color--active);
  color: var(--header-topbar-button-font-color--active);
}
.header__slider {
  background-image: url('../images/header_background.png');
  height: calc(64px * 5);
}
.header__slider > .container {
  background-color: rgba(64, 64, 64, 0.75);
  height: 100%;
}
.header__slider-list {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.header__slider-list .slides-list__item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  flex: 0 0 100%;
  transition: margin-left .2s;
}
.header__slider-list .slide__title {
  font-size: 48px;
  font-weight: 900;
  color: var(--header-slider-slide-title-font-color);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.header__slider-list .slide__container {
  max-width: 400px;
}
.header__slider-list .slide__content-phar {
  font-weight: 700;
  color: var(--header-slider-slide-content-phar-font-color);
  margin-top: 0;
  margin-bottom: 20px;
}
.header__slider-list .slide__content-phar:last-child {
  margin-bottom: 0;
}