.page__article {
  flex-grow: 1;
  padding: 24px;
  min-height: 520px;
}

.page__article-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 130px;
}

.page__article .article__title {
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.85);
}

.page__article .article__metadata {
  display: flex;
  background-color: var(--dark-gray-color);
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  width: 100%;
  height: 40px;
}
.page__article .metadata__icon {
  margin-right: 6px;
}

.page__article .article__content {
  padding: 24px;
}

.page__article .article__content > p {
  margin-top: 0;
}

.page__article .article__content > h1,
.page__article .article__content > h2 {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.page__article .article__content > h3 {
  font-size: 14px;
  font-weight: 700;
}

.page__article .article__content > h4 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.page__article .article__content > h5,
.page__article .article__content > h6 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.page__article .article__content > h1,
.page__article .article__content > h2,
.page__article .article__content > h3,
.page__article .article__content > h4,
.page__article .article__content > h5,
.page__article .article__content > h6  {
  padding-top: 10px;
}

.page__article .article__content > p {
  font-size: 14px;
}

.page__article .article__content > * {
  margin-bottom: 10px;
}

.page__article .article__content > *:last-child {
  margin-bottom: 0;
}

.page__article .article__comments .comments__header{
  display: flex;
  background-color: var(--dark-gray-color);
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
}

.page__article .article__comments .comments__title {
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--container-and-text-white-color);
  background-color: var(--grey-color);
}

.page__article .article__comments .comments-list__item {
  min-height: 148px;
  padding: 15px;
}

.page__article .article__comments .comments-list__item:nth-child(odd) {
  background-color: var(--comments-color-bcg1);
}

.page__article .article__comments .comments-list__item:nth-child(even) {
  background-color: var(--comments-color-bcg2);
}

.page__article .article__comments .comment__metadata-list {
  display: flex;
  margin-bottom: 19px;
  font-size: 12px;
}

.page__article .article__comments .comment__metadata-list .metadata-list__item:not(:last-child) {
  border-right: 1px solid var(--light-gray-color);
  padding-right: 6px;
  margin-right: 6px;
}

.page__article .article__comments .comment__metadata-list .metadata-list__item > .item__title::after {
  content: ':';
  margin-right: 4px;
}

.page__article .article__comments .comment__metadata-list .metadata-list__item_user-group {
  font-weight: 700;
}

.page__article .article__comments .comment__container {
  display: flex;
}

.page__article .article__comments .comment__avatar-container {
  margin-right: 15px;
}

.page__article .article__comments .comment__content-container {
  flex-grow: 1;
}

.page__article .article__comments .comment__author-login {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 900;
}

.page__article .article__comments .comment__content {
  background-color: var(--container-and-text-white-color);
  font-size: 12px;
  border: 1px solid var(--light2-gray-color);
  padding: 10px;
}

.page__article .article__comments .form[role="entryCommentForm"] {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.page__article .article__comments .form[role="entryCommentForm"] textarea {
  margin-bottom: 10px;
  width: 100%;
}

.page__article .article__comments .form[role="entryCommentForm"] button {
  width: fit-content;
}

.page__article .article__comments [role="entryCommentsContainer"] > *:last-child {
  padding-top: 10px;
}