.page__article {
  flex-grow: 1;
  padding: 24px;
  min-height: 520px;
}

.page__article-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 130px;
}

.page__article .article__title {
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.85);
}

.page__article .article__content {
  padding: 24px;
}

.page__article .article__content > p {
  margin-top: 0;
}

.page__article .article__content > h1,
.page__article .article__content > h2 {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.page__article .article__content > h3 {
  font-size: 14px;
  font-weight: 700;
}

.page__article .article__content > h4 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.page__article .article__content > h5,
.page__article .article__content > h6 {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.page__article .article__content > h1,
.page__article .article__content > h2,
.page__article .article__content > h3,
.page__article .article__content > h4,
.page__article .article__content > h5,
.page__article .article__content > h6  {
  padding-top: 10px;
}

.page__article .article__content > p {
  font-size: 14px;
}

.page__article .article__content > * {
  margin-bottom: 10px;
}

.page__article .article__content > *:last-child {
  margin-bottom: 0;
}