.page__entries-list-container {
  flex-grow: 1;
  padding: 24px;
}

.entries-list-container__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.entries-list-container__list-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  flex: 0 0 calc(50% - (24px / 2));
}

@media (min-width: 1200px) {
  .entries-list-container__list-item {
    flex: 0 0 calc(50% - (24px / 2));
  }
}

@media (max-width: 1199px) {
  .entries-list-container__list-item {
    flex: 0 0 100%;
  }
}

@media (min-width: 1200px) {
  .entries-list-container__list-item:not(:nth-child(2n)),
  .entries-list-container__list-item:not(:last-child) {
    margin-right: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 1199px) {
  .entries-list-container__list-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.entries-list-container__list-item .item__article {
  padding-top: 177px;
  height: 217px;
}

.entries-list-container__list-item .article__title {
  font-size: 14px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.entries-list-container__list-item .article__description {
  opacity: 0;
  visibility: hidden;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: inherit;
}

.entries-list-container__list-item .article__metadata {
  display: flex;
  width: 100%;
  height: 40px;
  padding-left: 27px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-gray-color);
}

.entries-list-container__list-item .article .metadata__icon {
  margin-right: 6px;
}

.entries-list-container__list-item .article .metadata__datetime {
  align-items: center;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 400;
  color: var(--container-and-text-white-color);
}

.entries-list-container__list-item .article .article__group-link {
  width: fit-content;
  height: 100%;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 400;
  transition: var(--transistion);
  text-transform: uppercase;
  color: var(--container-and-text-white-color);
  background-color: var(--grey-color);
}

.entries-list-container__list-item .article .article__group-link:focus-visible {
  outline: none;
}

.entries-list-container__list-item .article .article__group-link:focus {
  color: var(--footer-black-color);
  background-color: var(--bcg-body-color);
}

.entries-list-container__list-item .article .article__group-link:hover {
  color: var(--container-and-text-white-color);
  background-color: var(--dark-gray-color);
}

.entries-list-container__list-item .article .article__group-link:active {
  background-color: var(--grey-color);
}

@keyframes entries-group-animation-block {
  from {
      height: 47px;
      top: 130px;
  }

  to {
      height: 177px;
      top: 0;
  }
}

@keyframes entries-group-hidden-text {
  from {
      opacity: 0;
  }

  to {
      visibility: visible;
      opacity: 1;
  }
}

.article__interactive-block {
  position: absolute;
  width: 100%;
  height: 47px;
  top: 130px;
  padding: 17px 15px;
  opacity: 0.85;
  color: var(--primary-color-2);
  transition: var(--transistion);
  background-color: var(--container-and-text-white-color);
  cursor: pointer;
}

.entries-list-container__list-item:focus-within {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.article__interactive-block:focus-visible {
  transform: var(--transistion);
  outline: none;
}

.article__interactive-block:focus-visible .article__description {
  animation: entries-group-hidden-text .7s ease-in-out 1 forwards
}

.article__interactive-block:focus {
  animation: entries-group-animation-block .2s linear 1 forwards;
  opacity: 1;
  background-color: var(--dark-gray-color);
  color: var(--container-and-text-white-color);
}

.article__interactive-block:focus .article__description {
  visibility: visible;
  opacity: 1;
}

.article__interactive-block:hover {
  animation: entries-group-animation-block .2s linear 1 forwards;
}

.entries-list-container__list-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.article__interactive-block:hover .article__description {
  animation: entries-group-hidden-text .7s ease-in-out 1 forwards
}

.article__interactive-block:active {
  color: var(--dark-gray-color);
  background-color: var(--container-and-text-white-color);
}