.interactive .interactive__select-imitation {
  display: flex;
  position: relative;
  justify-content: space-between;
  border: 1px solid #EAEAEA;
  width: 150px;
}
.interactive .interactive__select-imitation .select-imitation__selected-item-container {
  box-sizing: border-box;
  flex-grow: 1;
  height: 32px;
}
.interactive .interactive__select-imitation .select-imitation__selected-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 10px;
  height: 100%;
}
.interactive .interactive__select-imitation .select-imitation__button {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.interactive .interactive__select-imitation .select-imitation__droped-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #EAEAEA;
  max-height: 128px;
  height: 0;
  width: calc(100% + 2px);
  left: -1px;
  top: 31px;
  overflow-y: auto;
  opacity: 0;
  transition: opacity .2s;
}
.interactive .interactive__select-imitation .select-imitation__droped-list.droped-list_is-showed {
  height: auto;
  opacity: 1;
  z-index: 1;
}
.interactive .interactive__select-imitation .droped-list__item {
  display: flex;
  box-sizing: border-box;
  background-color: #FFFFFF;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}
.interactive .interactive__select-imitation .droped-list__item:hover {
  background-color: #EAEAEA;
}
.interactive .interactive__select-imitation .select-imitation__button-icon {
  width: 16px;
  transition: transform .2s;
}
.interactive .interactive__select-imitation .select-imitation__droped-list:not(.droped-list_is-showed) + .select-imitation__button .select-imitation__button-icon  {
  transform: rotateZ(0deg);
}
.interactive .interactive__select-imitation .select-imitation__droped-list.droped-list_is-showed + .select-imitation__button .select-imitation__button-icon  {
  transform: rotateZ(180deg);
}
.interactive .interactive__select-imitation .droped-list__item img,
.interactive .interactive__select-imitation .select-imitation__selected-item img {
  margin-right: 10px;
}
.interactive .interactive__button {
  display: flex;
  background-color: var(--primary-color-3);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--common-main-color-3);
  border: 0;
  padding: 10px;
  transition: background-color .2s, color .2s;
  cursor: pointer;
}
.interactive .interactive__button[disabled] {
  color: var(--common-main-color-6);
}
.interactive .interactive__button:not([disabled]):hover {
  background-color: var(--secondary-color-2);
}
.interactive .interactive__button:not([disabled]):focus {
  background-color: var(--secondary-color-2);
}
.interactive .interactive__button:not([disabled]):active {
  background-color: var(--secondary-color-3);
}
.interactive .interactive__button_red {
  background-color: var(--secondary-color-5);
}
.interactive .interactive__button_red:not([disabled]):hover {
  background-color: var(--secondary-color-6);
}
.interactive .interactive__button_red:not([disabled]):focus {
  background-color: var(--secondary-color-6);
}
.interactive .interactive__button_red:not([disabled]):active {
  background-color: var(--secondary-color-5);
}
.interactive .interactive__button_green {
  background-color: var(--secondary-color-8);
}
.interactive .interactive__button_green:not([disabled]):hover {
  background-color: var(--secondary-color-9);
}
.interactive .interactive__button_green:not([disabled]):focus {
  background-color: var(--secondary-color-9);
}
.interactive .interactive__button_green:not([disabled]):active {
  background-color: var(--secondary-color-8);
}
.interactive .interactive__button-icon {
  margin-right: 10px;
  width: 16px;
}
.interactive .interactive__button-label {
  font-size: 14px;
  font-weight: 700;
  color: var(--interactive-button-font-color);
}
.interactive .interactive__button:not([disabled]):hover .interactive__button-label {
  color: var(--secondary-color-3);
}
.interactive .interactive__button:not([disabled]):focus .interactive__button-label {
  color: var(--secondary-color-3);
}
.interactive .interactive__button:not([disabled]):active .interactive__button-label {
  color: var(--primary-color-3);
}
.interactive .interactive__button_red .interactive__button-label {
  color: var(--secondary-color-6);
}
.interactive .interactive__button_red[disabled] .interactive__button-label {
  color: var(--secondary-color-13);
}
.interactive .interactive__button_red:not([disabled]):hover .interactive__button-label {
  color: var(--primary-color-4);
}
.interactive .interactive__button_red:not([disabled]):focus .interactive__button-label {
  color: var(--primary-color-4);
}
.interactive .interactive__button_red:not([disabled]):active .interactive__button-label {
  color: var(--secondary-color-6);
}
.interactive .interactive__button_green .interactive__button-label {
  color: var(--secondary-color-9);
}
.interactive .interactive__button_green[disabled] .interactive__button-label {
  color: var(--secondary-color-14);
}
.interactive .interactive__button_green:not([disabled]):hover .interactive__button-label {
  color: var(--primary-color-4);
}
.interactive .interactive__button_green:not([disabled]):focus .interactive__button-label {
  color: var(--primary-color-4);
}
.interactive .interactive__button_green:not([disabled]):active .interactive__button-label {
  color: var(--secondary-color-9);
}
.interactive .interactive__modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-2--opacity-0-2);
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
  backdrop-filter: blur(5px);
}
.interactive .interactive__modal {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-4);
  box-shadow: 0 0 10px var(--primary-color-2--opacity-0-2);
  max-width: calc(100% - 400px);
}
@media (min-width: 400px) {
  .interactive .interactive__modal {
    max-width: calc(100% - 400px);
  }
}
@media (max-width: 399px) {
  .interactive .interactive__modal {
    max-width: 100%;
  }
}
.interactive .interactive__modal .modal__header-container {
  display: flex;
  background-color: var(--primary-color-2);
  color: var(--primary-color-3);
}
.interactive .interactive__modal .modal__header-label {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
}
.interactive .interactive__modal .modal__header-button {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color-6);
  color: var(--primary-color-3);
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  height: 100%;
}
.interactive .interactive__modal .modal__header-button .interactive__button-label {
  color: inherit;
}
.interactive .interactive__modal .modal__body-container {
  font-size: 14px;
  padding: 10px;
}
.interactive .interactive__modal .modal__body-container > *:not(:last-child) {
  margin-bottom: 10px;
}
.interactive .interactive__modal .modal__body-container form input,
.interactive .interactive__modal .modal__body-container form textarea,
.interactive .interactive__modal .modal__body-container form select {
  width: 100%;
}
.interactive .interactive__modal .modal__body-container form input:not(:last-child),
.interactive .interactive__modal .modal__body-container form textarea:not(:last-child),
.interactive .interactive__modal .modal__body-container form select:not(:last-child) {
  margin-bottom: 10px;
}
.interactive .interactive__modal .modal__body-container form textarea {
  resize: none;
}
.interactive .interactive__modal .modal__footer-container {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 10px;
}
.interactive .interactive__modal .modal__footer-container .interactive {
  margin-right: 10px;
}
.interactive .interactive__modal .modal__footer-container .interactive:last-child {
  margin-right: 0;
}

@media (max-width: 500px) {
  .interactive .interactive__modal .modal__footer-container {
    flex-direction: column;
  }
  .interactive .interactive__modal .modal__footer-container .interactive__button {
    width: 100%;
  }
  .interactive .interactive__modal .modal__footer-container > *[cmsg-interactive-uid] {
    margin-right: 0;
  }
  .interactive .interactive__modal .modal__footer-container > *[cmsg-interactive-uid]:not(:last-child) {
    margin-bottom: 10px;
  }
}

#SYSTEM_MODAL_6438654856 .media-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#SYSTEM_MODAL_6438654856 .media-list__item {
  position: relative;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  border: 1px solid var(--primary-color-3);
  outline: 1px solid var(--primary-color-3);
  margin-right: 10px;
  margin-bottom: 10px;
  flex: 0 0 calc(((100% / 8) - 10px) + (10px / 8));
  height: 100px;
  transition: filter .2s, outline .2s;
  cursor: pointer;

  &:not(:first-child) {
    &:nth-child(8n) {
      margin-right: 0;
    }

    &:hover, &:focus {
      outline: 1px solid var(--secondary-color-2);
      filter: brightness(120%);
    }
  }
}

#SYSTEM_MODAL_6438654856 .media-list__item:first-child .interactive {
  display: flex;
}

#SYSTEM_MODAL_6438654856 .media-list__item:first-child .interactive,
#SYSTEM_MODAL_6438654856 .media-list__item:first-child .interactive__button {
  width: 100%;
  height: 100%;
}