:root {
  --common-main-color-1: #FFFFFF;
  --common-main-color-1--opacity-0-4: rgba(255, 255, 255, .4);
  --common-main-color-1--opacity-0-8: rgba(255, 255, 255, .8);
  --common-main-color-2: #EAEAEA;
  --common-main-color-2--opacity-0-8: rgba(234, 234, 234, .8);
  --common-main-color-3: #4C4C4C;
  --common-main-color-4: #232323;
  --common-main-color-4--opacity-0-8: rgba(35, 35, 35, .8);
  --common-main-color-4--opacity-0-5: rgba(35, 35, 35, .5);
  --common-main-color-4--opacity-0-4: rgba(35, 35, 35, .4);
  --common-main-color-5: #000000;
  --common-main-color-6: #C1C1C1;
  --common-secondary-color-1: #EEF7FF;
  --common-secondary-color-2: #C4E4FF;
  --common-secondary-color-3: #285E8E;
  --common-secondary-color-4: #FFEEEE;
  --common-secondary-color-5: #FFC4C4;
  --common-secondary-color-6: #932929;
  --common-secondary-color-7: #F0FFEE;
  --common-secondary-color-8: #C6FFC4;
  --common-secondary-color-9: #2B9432;
  --table-background-color: var(--common-main-color-1);
  --table-cell-border-color: var(--common-main-color-2);
  --table-font-color: var(--common-main-color-3);
  --form-input-background-color: var(--common-main-color-1);
  --form-input-background-color--hover: var(--common-main-color-2);
  --form-input-background-color--focus: var(--common-secondary-color-2);
  --form-input-background-color--active: var(--common-secondary-color-2);
  --form-input-border-color: var(--common-main-color-2);
  --form-input-border-color--hover: var(--common-main-color-3);
  --form-input-border-color--focus: var(--common-secondary-color-2);
  --form-input-border-color--active: var(--common-main-color-1);
  --form-textarea-background-color: var(--common-main-color-1);
  --form-textarea-background-color--hover: var(--common-main-color-2);
  --form-textarea-background-color--focus: var(--common-secondary-color-2);
  --form-textarea-background-color--active: var(--common-secondary-color-2);
  --form-textarea-border-color: var(--common-main-color-2);
  --form-textarea-border-color--hover: var(--common-main-color-3);
  --form-textarea-border-color--focus: var(--common-secondary-color-2);
  --form-textarea-border-color--active: var(--common-main-color-1);
  --form-button-background-color: var(--common-main-color-2);
  --form-button-background-color--hover: var(--common-main-color-1);
  --form-button-background-color--focus: var(--common-main-color-1);
  --form-button-background-color--active: var(--common-main-color-4);
  --form-button-font-color: var(--common-main-color-3);
  --form-button-font-color--hover: var(--common-main-color-3);
  --form-button-font-color--focus: var(--common-main-color-3);
  --form-button-font-color--active: var(--common-main-color-2);
  --form-button-icon-color: var(--common-main-color-3);
  --form-button-icon-color--hover: var(--common-main-color-3);
  --form-button-icon-color--focus: var(--common-main-color-3);
  --form-button-icon-color--active: var(--common-main-color-2);
  --main-admin-auth-form-background-color: var(--common-main-color-1);
  --main-admin-auth-form-border-color: var(--common-main-color-2);
  --main-admin-auth-form-title-font-color: var(--common-main-color-4);
  --main-admin-auth-form-input-text-background-color: var(--common-main-color-1);
  --main-admin-auth-form-input-text-background-color--hover: var(--common-main-color-2);
  --main-admin-auth-form-input-text-background-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-text-background-color--active: var(--common-secondary-color-2);
  --main-admin-auth-form-input-text-border-color: var(--common-main-color-2);
  --main-admin-auth-form-input-text-border-color--hover: var(--common-main-color-3);
  --main-admin-auth-form-input-text-border-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-text-border-color--active: var(--common-main-color-1);
  --main-admin-auth-form-input-password-background-color: var(--common-main-color-1);
  --main-admin-auth-form-input-password-background-color--hover: var(--common-main-color-2);
  --main-admin-auth-form-input-password-background-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-password-background-color--active: var(--common-secondary-color-2);
  --main-admin-auth-form-input-password-border-color: var(--common-main-color-2);
  --main-admin-auth-form-input-password-border-color--hover: var(--common-main-color-3);
  --main-admin-auth-form-input-password-border-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-password-border-color--active: var(--common-main-color-1);
  --main-admin-auth-form-input-access-code-background-color: var(--common-main-color-1);
  --main-admin-auth-form-input-access-code-background-color--hover: var(--common-main-color-2);
  --main-admin-auth-form-input-access-code-background-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-access-code-background-color--active: var(--common-secondary-color-2);
  --main-admin-auth-form-input-access-code-border-color: var(--common-main-color-2);
  --main-admin-auth-form-input-access-code-border-color--hover: var(--common-main-color-3);
  --main-admin-auth-form-input-access-code-border-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-access-code-border-color--active: var(--common-main-color-1);
  --main-admin-auth-form-input-submit-background-color: var(--common-main-color-4);
  --main-admin-auth-form-input-submit-background-color--hover: var(--common-main-color-3);
  --main-admin-auth-form-input-submit-background-color--focus: var(--common-main-color-5);
  --main-admin-auth-form-input-submit-background-color--active: var(--common-secondary-color-3);
  --main-admin-auth-form-input-submit-font-color: var(--common-main-color-2);
  --main-admin-auth-form-input-submit-font-color--hover: var(--common-main-color-2);
  --main-admin-auth-form-input-submit-font-color--focus: var(--common-main-color-2);
  --main-admin-auth-form-input-submit-font-color--active: var(--common-secondary-color-1);
  --main-admin-auth-footer-font-color: var(--common-main-color-6);
  --admin-panel-navigation-background-color: var(--common-main-color-4);
  --admin-panel-navigation-icon-color: var(--common-main-color-2);
  --admin-panel-navigation-item-link-background-color: var(--common-main-color-4);
  --admin-panel-navigation-item-label-font-color: var(--common-main-color-2);
  --admin-panel-header-background-color: var(--common-main-color-1);
  --admin-panel-header-border-color: var(--common-main-color-2);
  --admin-panel-header-shadow-color: var(--common-main-color-4--opacity-0-5);
  --admin-panel-footer-background-color: var(--common-main-color-1);
  --admin-panel-footer-border-color: var(--common-main-color-2);
  --admin-panel-footer-shadow-color: var(--common-main-color-4--opacity-0-5);
  --admin-panel-main-background-color: var(--common-main-color-1--opacity-0-8);
  --admin-panel-main-page-title-font-color: var(--common-main-color-4);
  --admin-panel-main-page-title-border-color: var(--common-main-color-2);
  --admin-panel-main-page-index-step-background-color: var(--common-secondary-color-1);
  --admin-panel-main-page-index-step-icon-color: var(--common-secondary-color-3);
  --admin-panel-main-page-index-step-label-title-font-color: var(--common-secondary-color-3);
  --admin-panel-main-page-index-step-label-description-font-color: var(--common-secondary-color-3);
  --admin-panel-main-page-entries-table-icon-color: var(--common-main-color-4);
  --admin-panel-main-page-users-table-icon-color: var(--common-main-color-4);
  --admin-panel-main-page-pages-table-icon-color: var(--common-main-color-4);
  --admin-panel-main-page-templates-list-item--preview-background-color: var(--common-main-color-3);
  --admin-panel-main-page-templates-list-item-border-color: var(--common-main-color-2);
  --admin-panel-main-page-templates-list-item-preview-button-background-color: var(--common-main-color-1--opacity-0-8);
  --admin-panel-main-page-templates-list-item-preview-button-icon-color: var(--common-main-color-4);
  --admin-panel-main-page-template-gallery-controller-background-color: var(--common-main-color-2--opacity-0-8);
  --admin-panel-main-page-template-gallery-controller-background-color--hover: var(--common-main-color-2);
  --admin-panel-main-page-template-gallery-controller-background-color--focus: var(--common-main-color-2);
  --admin-panel-main-page-template-gallery-controller-background-color--active: var(--common-main-color-2--opacity-0-8);
  --admin-panel-main-page-template-gallery-controller-icon-color: var(--common-main-color-4);
  --admin-panel-main-page-template-metadata-block-label-color: var(--common-main-color-4);
  --admin-panel-main-page-template-description-block-label-color: var(--common-main-color-4);
  --admin-panel-main-page-template-description-color: var(--common-main-color-3);
  --admin-panel-main-aside-block-title-background-color: var(--common-main-color-2);
  --admin-panel-main-aside-block-title-font-color: var(--common-main-color-4);
  --admin-panel-main-aside-block-content-font-color: var(--common-main-color-4);
  --admin-panel-main-aside-block-link-font-color: var(--common-main-color-4);
  --admin-panel-footer-copyright-font-color: var(--common-main-color-3);
  --notification-static-container-background-color: var(--common-main-color-4);
  --notification-static-container-font-color: var(--common-main-color-2);
  --notification-popup-container-background-color: var(--common-main-color-4--opacity-0-8);
  --notification-popup-container-font-color: var(--common-main-color-1);
}