:root {
  --common-main-color-1: #FFFFFF;
  --common-main-color-1--opacity-0-8: rgba(255, 255, 255, .8);
  --common-main-color-2: #EAEAEA;
  --common-main-color-2--opacity-0-8: rgba(234, 234, 234, .8);
  --common-main-color-3: #4C4C4C;
  --common-main-color-4: #232323;
  --common-main-color-4--opacity-0-8: rgba(35, 35, 35, .8);
  --common-main-color-5: #000000;
  --common-main-color-6: #C1C1C1;
  --common-secondary-color-1: #EEF7FF;
  --common-secondary-color-2: #C4E4FF;
  --common-secondary-color-3: #3784C8;
  --main-admin-auth-form-background-color: var(--common-main-color-1);
  --main-admin-auth-form-border-color: var(--common-main-color-2);
  --main-admin-auth-form-title-font-color: var(--common-main-color-4);
  --main-admin-auth-form-input-text-background-color: var(--common-main-color-1);
  --main-admin-auth-form-input-text-background-color--hover: var(--common-main-color-2);
  --main-admin-auth-form-input-text-background-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-text-background-color--active: var(--common-secondary-color-2);
  --main-admin-auth-form-input-text-border-color: var(--common-main-color-2);
  --main-admin-auth-form-input-text-border-color--hover: var(--common-main-color-3);
  --main-admin-auth-form-input-text-border-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-text-border-color--active: var(--common-main-color-1);
  --main-admin-auth-form-input-password-background-color: var(--common-main-color-1);
  --main-admin-auth-form-input-password-background-color--hover: var(--common-main-color-2);
  --main-admin-auth-form-input-password-background-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-password-background-color--active: var(--common-secondary-color-2);
  --main-admin-auth-form-input-password-border-color: var(--common-main-color-2);
  --main-admin-auth-form-input-password-border-color--hover: var(--common-main-color-3);
  --main-admin-auth-form-input-password-border-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-password-border-color--active: var(--common-main-color-1);
  --main-admin-auth-form-input-access-code-background-color: var(--common-main-color-1);
  --main-admin-auth-form-input-access-code-background-color--hover: var(--common-main-color-2);
  --main-admin-auth-form-input-access-code-background-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-access-code-background-color--active: var(--common-secondary-color-2);
  --main-admin-auth-form-input-access-code-border-color: var(--common-main-color-2);
  --main-admin-auth-form-input-access-code-border-color--hover: var(--common-main-color-3);
  --main-admin-auth-form-input-access-code-border-color--focus: var(--common-secondary-color-2);
  --main-admin-auth-form-input-access-code-border-color--active: var(--common-main-color-1);
  --main-admin-auth-form-input-submit-background-color: var(--common-main-color-4);
  --main-admin-auth-form-input-submit-background-color--hover: var(--common-main-color-3);
  --main-admin-auth-form-input-submit-background-color--focus: var(--common-main-color-5);
  --main-admin-auth-form-input-submit-background-color--active: var(--common-secondary-color-3);
  --main-admin-auth-form-input-submit-font-color: var(--common-main-color-2);
  --main-admin-auth-form-input-submit-font-color--hover: var(--common-main-color-2);
  --main-admin-auth-form-input-submit-font-color--focus: var(--common-main-color-2);
  --main-admin-auth-form-input-submit-font-color--active: var(--common-secondary-color-1);
  --main-admin-auth-footer-font-color: var(--common-main-color-6);
}