.notification-wrapper.notification-wrapper_is-static {
  box-sizing: border-box;
  background-color: var(--notification-static-container-background-color);
  font-size: 14px;
  color: var(--notification-static-container-font-color);
  padding: 20px;
  margin-bottom: 20px;
}
.notification-wrapper.notification-wrapper_is-popup {
  position: fixed;
  padding: 20px;
  left: -340px;
  bottom: 0;
  opacity: 0;
  z-index: 200;
  transition: left 1s, opacity 1s;
}
.notification-wrapper.notification-wrapper_is-popup.notification-wrapper_is-showed {
  left: 0;
  opacity: 1;
}
.notification-wrapper.notification-wrapper_is-popup .notification {
  box-sizing: border-box;
  background-color: var(--notification-popup-container-background-color);
  font-size: 14px;
  color: var(--notification-popup-container-font-color);
  padding: 20px;
  width: 300px;
}