.main__title-container {
  display: flex;
}
.main__title-container .title-container__step-container {
  box-sizing: border-box;
  background-color: var(--common-main-color-4);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--common-main-color-2);
  flex: 0 0 120px;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main__title {
  background-color: var(--common-main-color-3);
  flex-grow: 1;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--common-main-color-2);
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.main__page-container {
  background-color: var(--common-main-color-6);
  padding-left: 120px;
}
.main__page {
  box-sizing: border-box;
  background-color: var(--common-main-color-1);
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 290px;
}
.main__page .page__phar,
.main__page .page__list {
  font-size: 14px;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.main__page-panel-container {
  display: flex;
  background-color: var(--common-main-color-1);
  border-top: 2px solid var(--common-main-color-2);
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main__page-panel-container > .interactive {
  &:not(:last-child) {
    margin-right: 10px;
  }
}